:root {
    --font-awesome-font-family: "FontAwesome", Helvetica;
    --font-awesome-font-weight: 400;
    --font-awesome-font-size: 18px;
    --font-awesome-letter-spacing: 0px;
    --font-awesome-line-height: normal;
    --font-awesome-font-style: normal;
    --text-article-font-family: "DM Sans", Helvetica;
    --text-article-font-weight: 500;
    --text-article-font-size: 18px;
    --text-article-letter-spacing: 0px;
    --text-article-line-height: 28px;
    --text-article-font-style: normal;
    --text-paragraph-font-family: "DM Sans", Helvetica;
    --text-paragraph-font-weight: 400;
    --text-paragraph-font-size: 16px;
    --text-paragraph-letter-spacing: 0px;
    --text-paragraph-line-height: 26px;
    --text-paragraph-font-style: normal;
    --text-description-font-family: "DM Sans", Helvetica;
    --text-description-font-weight: 500;
    --text-description-font-size: 14px;
    --text-description-letter-spacing: 0px;
    --text-description-line-height: 22px;
    --text-description-font-style: normal;
    --text-label-font-family: "DM Sans", Helvetica;
    --text-label-font-weight: 700;
    --text-label-font-size: 14px;
    --text-label-letter-spacing: 2px;
    --text-label-line-height: 26px;
    --text-label-font-style: normal;
    --heading-h1-hero-font-family: "DM Sans", Helvetica;
    --heading-h1-hero-font-weight: 700;
    --heading-h1-hero-font-size: 72px;
    --heading-h1-hero-letter-spacing: -1px;
    --heading-h1-hero-line-height: 86px;
    --heading-h1-hero-font-style: normal;
    --heading-h2-header-font-family: "DM Sans", Helvetica;
    --heading-h2-header-font-weight: 700;
    --heading-h2-header-font-size: 58px;
    --heading-h2-header-letter-spacing: -1px;
    --heading-h2-header-line-height: 70px;
    --heading-h2-header-font-style: normal;
    --heading-h3-title-font-family: "DM Sans", Helvetica;
    --heading-h3-title-font-weight: 700;
    --heading-h3-title-font-size: 42px;
    --heading-h3-title-letter-spacing: -0.4000000059604645px;
    --heading-h3-title-line-height: 52px;
    --heading-h3-title-font-style: normal;
    --heading-h4-headline-font-family: "DM Sans", Helvetica;
    --heading-h4-headline-font-weight: 700;
    --heading-h4-headline-font-size: 32px;
    --heading-h4-headline-letter-spacing: 0px;
    --heading-h4-headline-line-height: 42px;
    --heading-h4-headline-font-style: normal;
    --heading-h5-lead-font-family: "DM Sans", Helvetica;
    --heading-h5-lead-font-weight: 500;
    --heading-h5-lead-font-size: 22px;
    --heading-h5-lead-letter-spacing: 0px;
    --heading-h5-lead-line-height: 32px;
    --heading-h5-lead-font-style: normal;
    --buttons-small-font-family: "DM Sans", Helvetica;
    --buttons-small-font-weight: 500;
    --buttons-small-font-size: 16px;
    --buttons-small-letter-spacing: 0px;
    --buttons-small-line-height: 22px;
    --buttons-small-font-style: normal;
    --buttons-big-font-family: "DM Sans", Helvetica;
    --buttons-big-font-weight: 500;
    --buttons-big-font-size: 20px;
    --buttons-big-letter-spacing: 0px;
    --buttons-big-line-height: 26px;
    --buttons-big-font-style: normal;
    --buttons-middle-font-family: "DM Sans", Helvetica;
    --buttons-middle-font-weight: 500;
    --buttons-middle-font-size: 18px;
    --buttons-middle-letter-spacing: 0px;
    --buttons-middle-line-height: 26px;
    --buttons-middle-font-style: normal;
    --font-awesome-font-family: "FontAwesome", Helvetica;
    --font-awesome-font-weight: 400;
    --font-awesome-font-size: 18px;
    --font-awesome-letter-spacing: 0px;
    --font-awesome-line-height: normal;
    --font-awesome-font-style: normal;
    --text-article-font-family: "DM Sans", Helvetica;
    --text-article-font-weight: 500;
    --text-article-font-size: 18px;
    --text-article-letter-spacing: 0px;
    --text-article-line-height: 28px;
    --text-article-font-style: normal;
    --text-paragraph-font-family: "DM Sans", Helvetica;
    --text-paragraph-font-weight: 400;
    --text-paragraph-font-size: 16px;
    --text-paragraph-letter-spacing: 0px;
    --text-paragraph-line-height: 26px;
    --text-paragraph-font-style: normal;
    --text-description-font-family: "DM Sans", Helvetica;
    --text-description-font-weight: 500;
    --text-description-font-size: 14px;
    --text-description-letter-spacing: 0px;
    --text-description-line-height: 22px;
    --text-description-font-style: normal;
    --text-label-font-family: "DM Sans", Helvetica;
    --text-label-font-weight: 700;
    --text-label-font-size: 14px;
    --text-label-letter-spacing: 2px;
    --text-label-line-height: 26px;
    --text-label-font-style: normal;
    --heading-h1-hero-font-family: "DM Sans", Helvetica;
    --heading-h1-hero-font-weight: 700;
    --heading-h1-hero-font-size: 72px;
    --heading-h1-hero-letter-spacing: -1px;
    --heading-h1-hero-line-height: 86px;
    --heading-h1-hero-font-style: normal;
    --heading-h2-header-font-family: "DM Sans", Helvetica;
    --heading-h2-header-font-weight: 700;
    --heading-h2-header-font-size: 58px;
    --heading-h2-header-letter-spacing: -1px;
    --heading-h2-header-line-height: 70px;
    --heading-h2-header-font-style: normal;
    --heading-h3-title-font-family: "DM Sans", Helvetica;
    --heading-h3-title-font-weight: 700;
    --heading-h3-title-font-size: 42px;
    --heading-h3-title-letter-spacing: -0.4000000059604645px;
    --heading-h3-title-line-height: 52px;
    --heading-h3-title-font-style: normal;
    --heading-h4-headline-font-family: "DM Sans", Helvetica;
    --heading-h4-headline-font-weight: 700;
    --heading-h4-headline-font-size: 32px;
    --heading-h4-headline-letter-spacing: 0px;
    --heading-h4-headline-line-height: 42px;
    --heading-h4-headline-font-style: normal;
    --heading-h5-lead-font-family: "DM Sans", Helvetica;
    --heading-h5-lead-font-weight: 500;
    --heading-h5-lead-font-size: 22px;
    --heading-h5-lead-letter-spacing: 0px;
    --heading-h5-lead-line-height: 32px;
    --heading-h5-lead-font-style: normal;
    --buttons-small-font-family: "DM Sans", Helvetica;
    --buttons-small-font-weight: 500;
    --buttons-small-font-size: 16px;
    --buttons-small-letter-spacing: 0px;
    --buttons-small-line-height: 22px;
    --buttons-small-font-style: normal;
    --buttons-big-font-family: "DM Sans", Helvetica;
    --buttons-big-font-weight: 500;
    --buttons-big-font-size: 20px;
    --buttons-big-letter-spacing: 0px;
    --buttons-big-line-height: 26px;
    --buttons-big-font-style: normal;
    --buttons-middle-font-family: "DM Sans", Helvetica;
    --buttons-middle-font-weight: 500;
    --buttons-middle-font-size: 18px;
    --buttons-middle-letter-spacing: 0px;
    --buttons-middle-line-height: 26px;
    --buttons-middle-font-style: normal;
    --font-awesome-font-family: "FontAwesome", Helvetica;
    --font-awesome-font-weight: 400;
    --font-awesome-font-size: 18px;
    --font-awesome-letter-spacing: 0px;
    --font-awesome-line-height: normal;
    --font-awesome-font-style: normal;
    --text-article-font-family: "DM Sans", Helvetica;
    --text-article-font-weight: 500;
    --text-article-font-size: 18px;
    --text-article-letter-spacing: 0px;
    --text-article-line-height: 28px;
    --text-article-font-style: normal;
    --text-paragraph-font-family: "DM Sans", Helvetica;
    --text-paragraph-font-weight: 400;
    --text-paragraph-font-size: 16px;
    --text-paragraph-letter-spacing: 0px;
    --text-paragraph-line-height: 26px;
    --text-paragraph-font-style: normal;
    --text-description-font-family: "DM Sans", Helvetica;
    --text-description-font-weight: 500;
    --text-description-font-size: 14px;
    --text-description-letter-spacing: 0px;
    --text-description-line-height: 22px;
    --text-description-font-style: normal;
    --text-label-font-family: "DM Sans", Helvetica;
    --text-label-font-weight: 700;
    --text-label-font-size: 14px;
    --text-label-letter-spacing: 2px;
    --text-label-line-height: 26px;
    --text-label-font-style: normal;
    --heading-h1-hero-font-family: "DM Sans", Helvetica;
    --heading-h1-hero-font-weight: 700;
    --heading-h1-hero-font-size: 72px;
    --heading-h1-hero-letter-spacing: -1px;
    --heading-h1-hero-line-height: 86px;
    --heading-h1-hero-font-style: normal;
    --heading-h2-header-font-family: "DM Sans", Helvetica;
    --heading-h2-header-font-weight: 700;
    --heading-h2-header-font-size: 58px;
    --heading-h2-header-letter-spacing: -1px;
    --heading-h2-header-line-height: 70px;
    --heading-h2-header-font-style: normal;
    --heading-h3-title-font-family: "DM Sans", Helvetica;
    --heading-h3-title-font-weight: 700;
    --heading-h3-title-font-size: 42px;
    --heading-h3-title-letter-spacing: -0.4000000059604645px;
    --heading-h3-title-line-height: 52px;
    --heading-h3-title-font-style: normal;
    --heading-h4-headline-font-family: "DM Sans", Helvetica;
    --heading-h4-headline-font-weight: 700;
    --heading-h4-headline-font-size: 32px;
    --heading-h4-headline-letter-spacing: 0px;
    --heading-h4-headline-line-height: 42px;
    --heading-h4-headline-font-style: normal;
    --heading-h5-lead-font-family: "DM Sans", Helvetica;
    --heading-h5-lead-font-weight: 500;
    --heading-h5-lead-font-size: 22px;
    --heading-h5-lead-letter-spacing: 0px;
    --heading-h5-lead-line-height: 32px;
    --heading-h5-lead-font-style: normal;
    --buttons-small-font-family: "DM Sans", Helvetica;
    --buttons-small-font-weight: 500;
    --buttons-small-font-size: 16px;
    --buttons-small-letter-spacing: 0px;
    --buttons-small-line-height: 22px;
    --buttons-small-font-style: normal;
    --buttons-big-font-family: "DM Sans", Helvetica;
    --buttons-big-font-weight: 500;
    --buttons-big-font-size: 20px;
    --buttons-big-letter-spacing: 0px;
    --buttons-big-line-height: 26px;
    --buttons-big-font-style: normal;
    --buttons-middle-font-family: "DM Sans", Helvetica;
    --buttons-middle-font-weight: 500;
    --buttons-middle-font-size: 18px;
    --buttons-middle-letter-spacing: 0px;
    --buttons-middle-line-height: 26px;
    --buttons-middle-font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .navegacao .div {
        flex-direction: column;
        height: auto;
        padding: 10px;
        align-items: center;
    }

    .navegacao .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .header-hero {
        margin-top: 30px;
        /* ou padding-top: 100px, se necessário */
    }

    .sobre-nos {
        flex-direction: column;
        text-align: center;
    }

    .sobre-nos .imagem-sobre {
        margin: 0 auto 20px;
    }

    .lista-cuidados li {
        flex: 1 1 calc(50% - 20px);
    }

    .contato-page .forma-contato {
        flex-direction: column;
        gap: 10px;
    }
}


body {
    background: #000;
}

.navegacao {
    background-color: #000;
    display: flex;
    justify-content: center;
    width: 100%;
}

.navegacao .div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1400px;
    height: 100px;
    position: relative;
    padding: 0 20px;
    /* Espaçamento lateral */
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--text-paragraph-font-family);
    font-weight: var(--text-paragraph-font-weight);
    color: #fff;
    font-size: var(--text-paragraph-font-size);
    letter-spacing: var(--text-paragraph-letter-spacing);
    line-height: var(--text-paragraph-line-height);
    white-space: nowrap;
    font-style: var(--text-paragraph-font-style);
    padding-bottom: 0.5px;
    border-bottom: 1px solid transparent;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    text-decoration: none;
}

.navbar a:hover {
    color: #FFF00E;
    border-bottom: 0.5px solid #FFF00E;
}


.navegacao .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navegacao .imagem img {
    width: 100px;
    /* Ajuste conforme necessário */
}

.navegacao .navbar {
    display: flex;
    gap: 30px;
    /* Espaço entre os itens do menu */
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.header-hero {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    width: 100%;
    padding-top: 370px;
    /* ajusta conforme a altura do seu menu */
    padding-bottom: 00px;
}

.header-hero .div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    height: auto;
    width: 100%;
}

.header-hero .text {
    text-align: center;
    margin-bottom: 20px;
}

.header-hero .apresentacao {
    font-family: var(--heading-h5-lead-font-family);
    font-weight: var(--heading-h5-lead-font-weight);
    color: #fff;
    font-size: var(--heading-h5-lead-font-size);
    text-align: center;
    letter-spacing: var(--heading-h5-lead-letter-spacing);
    line-height: var(--heading-h5-lead-line-height);
    font-style: var(--heading-h5-lead-font-style);
    max-width: 839px;
}

.header-hero .churrasq {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.header-hero .sub-apresentacao {
    font-family: var(--heading-h2-header-font-family);
    font-weight: var(--heading-h2-header-font-weight);
    color: #fff;
    font-size: var(--heading-h2-header-font-size);
    letter-spacing: var(--heading-h2-header-letter-spacing);
    line-height: var(--heading-h2-header-line-height);
    font-style: var(--heading-h2-header-font-style);
    text-align: center;
    margin-top: 20px;
    max-width: 839px;
}

.header-hero button {
    width: 155px;
    height: 50px;
    top: 50px;
    left: 50%;
    background-color: #FFF00E;
    border-radius: 100px;
    transition: #d1c302 0.6s ease;
}

.header-hero .header-menu {
    position: absolute;
    width: 111px;
    height: 19px;
    top: 160px;
    left: 215px;
}

.header-hero .white {
    height: 19px;
}

.header-hero .div-wrapper {
    position: relative;
    width: 111px;
    height: 19px;
}

.header-hero .texto-wrapper {
    position: absolute;
    top: -20px;
    left: 2px;
    font-family: "DM Sans", Helvetica;
    font-weight: 700;
    color: #fff;
    font-size: 24px;
    text-align: center;
    letter-spacing: -0.29px;
    line-height: normal;
}

.cuidados-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.lista-cuidados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    max-width: 850px;
    /* Define a largura máxima para limitar a 4 itens por linha */
}

.lista-cuidados li {
    flex: 1 1 calc(25% - 20px);
    /* Garante 4 itens por linha */
    max-width: 200px;
    /* Mantém o tamanho fixo dos quadrados */
    font-family: var(--text-paragraph-font-family);
    color: #fff;
    height: 250px;
    border: 1px solid #FFF00E;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    letter-spacing: var(--heading-h5-lead-letter-spacing);
    font-style: var(--heading-h5-lead-font-style);
    margin-bottom: auto;
}

.lista-cuidados img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.cuidados-text .container {
    width: 100%;
    max-width: 1200px;
    /* Ajuste conforme necessário */
    margin: 0 auto;
    /* Centraliza o contêiner */
    text-align: center;
    font-family: "DM Sans", Helvetica;
    font-weight: 700;
    font-size: 24px;
    margin-top: 70px;
}

/* Seção Sobre Nós */
.sobre-nos {
    margin-top: 85px;
    display: flex;
    align-items: center;
    color: #fff;
    margin: 20px auto;
    max-width: 1200px;
}

/* Estilizando a imagem */
.sobre-nos .imagem-sobre {
    border-radius: 10px;
    margin-right: 20px;
    height: 300px;
    /* width: 500px; */
}

.sobre-nos .imagem-sobre img {
    max-width: 400px;
    /* ou qualquer valor que achar ideal */
    height: auto;
    /* mantém a proporção */
    border-radius: 10px;
}

.sobre-nos .texto-sobre {
    margin-top: 70px;
    margin-bottom: 20px;
    top: -6px;
    left: 2px;
    font-family: "DM Sans", Helvetica;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

.sobre-nos .paragrafo-sobre {
    left: 0;
    font-family: var(--text-paragraph-font-family);
    font-weight: var(--text-paragraph-font-weight);
    color: #fff;
    font-size: var(--text-paragraph-font-size);
    letter-spacing: var(--text-paragraph-letter-spacing);
    line-height: var(--text-paragraph-line-height);
    font-style: var(--text-paragraph-font-style);
}

.contato-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    color: #fff;
    font-family: var(--text-paragraph-font-family);
    margin-top: 70px;
    margin-bottom: 20px;
}

.contato-page .container-contato {
    width: 100%;
    max-width: 1200px;
    /* Ajuste conforme necessário */
    margin: 0 auto;
    /* Centraliza o contêiner */
    text-align: center;
    font-family: "DM Sans", Helvetica;
    font-weight: 700;
    font-size: 24px;
}

.contato-page img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.contato-page .forma-contato {
    flex: 1 1 calc(25% - 20px);
    /* Garante 4 itens por linha */
    font-family: var(--text-paragraph-font-family);
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    letter-spacing: var(--heading-h5-lead-letter-spacing);
    font-style: var(--heading-h5-lead-font-style);
}

/* FOOTER */
.footer {
    padding: 30px 0;
    color: #fff;
    text-align: center;
}

.footer a {
    color: #FFF00E;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}